<%= form_for([@project, @project_todo]) do |f| %>
  <% if @project_todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_todo.errors.count, "error") %> prohibited this project_todo from being saved:</h2>

      <ul>
      <% @project_todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
